.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centra tanto horizontal como verticalmente */
  background-color: rgba(135, 206, 235, 0.7);
  background-position: center;
  width: 135px; /* Tamaño fijo para todas las tarjetas */
  border: 1px solid grey;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  overflow: auto;
  max-height: 300px;
}

.cardContainer:hover {
  transform: scale(1.05);
}

.imageContainer {
  position: relative;
  text-align: center;
  display: inline-block;
  max-width: 100px;
  max-height: 80px;
  min-width: 100px;
  max-height: 80px;
}

.countryImage {
  display: flex;
  max-width: 100px;
  max-height: 80px;
  min-width: 100px;
  max-height: 80px;
  margin: 0 auto;
}